:root {
    --size-text-70: 70px;
    --size-text-40: 40px;
    --size-text-38: 38px;
    --size-text-28: 28px;
    --size-text-22: 22px;
    --size-text-20: 20px;
    --size-text-18: 18px;
    --size-text-17: 17px;
    --size-text-16: 16px;
}